body { color: black;
 background-color: white;
 font-family: 'Nunito';
 font-size: 1em;
 font-style: normal;
 font-weight: normal;
 margin: 0;
   }
   .icon {display: block;
     width: 70px; height: 70px;}
     .btn{
       color: white;
       background-color: #c3dfc7;
       border-color: #c3dfc7;

     }
  .btn-primary:hover {
   color: white;
   background-color:#a5d0ac;
   border-color: #a5d0ac;
}
.btn-primary:focus {
  background-color: #5d7961;
  border-color: #5d7961;
  box-shadow: none!important;
  outline: none !important;
}
footer{
 background-color: #9ccba3;
 display: flex;
 justify-content: center;
 margin: 0;
 padding: 30px;
}
a{
 text-decoration: none;
}
.fa-brands{
 color:white;
 margin: 5px;
}
/* .mailing{
 text-decoration: none;
 color:white;
}
.mailing:hover{
 color:#9ccba3;
} */
mark{
 background-color: white;
 font-family: 'Nunito';
 font-weight: bolder;
 font-size: 2.5em;

}
strong{
 background: white;
 font-family: 'Nunito';
 font-size: 2em;
 font-weight: bolder;
}
span{
 color:#9ccba3;
}
.card-img{
 height:500px;
}
.card-img-overlay{
 display: flex;
 align-items: center;
 justify-content: center;
}
.imgcontainer {
 display: inline-block;
 position: relative;
}
.badge{
top:0;
position:absolute;
right:0;
display: inline-block;
padding: 0.35em 0.65em;
font-size: 1.1em;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.25rem;
}

.bg-success{
    background-color:#7bb984!important;
}
.img-thumbnail {
   padding: 0.25rem;
   background-color: #fff;
   border: 1px solid #dee2e6;
   border-radius: 0.25rem;
   max-width: 100%;
   height: 400px;
}
.img-fluid{
  height: 500px!important;
}
