body { color: black;
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
    }
.navbar{
      align-items: center;
      background-color: #9ccba3;
      display: flex;
      margin: 0;
      padding: 20px;
    }
.icon {display: block;
  width: 70px; height: 70px;}
nav{
  flex: 1;
  text-align: left;
}
nav ul{
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a{
  background-color: transparent;
  color:black;
  font-size: 1.2em;
  font-weight: bolder;
  text-decoration: none;
}
.category{
    font-size: 1.25em;
    margin:50px;
    text-align: left;
}
h1{
  margin: 0;
}
h2{
  font-weight: lighter;
}
h3{
  font-size: 1em;
  font-weight: lighter;
  margin-left:5px;
  padding-left: 10px;
}
h4{
  font-weight: lighter;
  margin: 0;
}
h5{
  font-size: 1em;
  font-weight: lighter;
}
.tablecenter{
  text-align: center;
}
.column{
  display: inline-block;
  padding:25px;
  width: 25%;
}
.row {
  display: inline-block;
}
.outro{
  background-color: #9ccba3;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px;
}
.whatsapp{
  display:inline-block;
  width: 40px; height: 40px;
}
.inst{
  display:inline-block;
  width: 37px; height: 37px;
}
span{
  color:#9ccba3;
}
mark {
  background-color: white;
  bottom: 480px;
  font-weight: bolder;
  font-size: 2em;
  left: 50px;
  position: relative;
}
.cart
{
  height: 27px;
  left:10px;
  position: relative;
  width: 27px;
}
strong{
  background: white;
  bottom: 380px;
  font-size: 2em;
  font-weight: bolder;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  right: 500px;
}
.concept{
  background-color: white;
  bottom: 120px;
  display: inline-block;
  font-weight: bolder;
  font-size: 1.7em;
  position: absolute;
  right: 220px;
}
.addcart{
  margin: 0;
  padding: 0;
}
.infoform{
  bottom: 200px;
  font-size: 1em;
  font-weight: bolder;
  position: relative;
  right: 600px;
}
